html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    -webkit-text-size-adjust: none; 
}


.disable-dbl-tap-zoom {
    touch-action: manipulation;
}



.option-container {
    background-color: rgba(230, 230, 230, 0.592);
    width: 80px;
    position: absolute;
    border-radius: 5px;
    margin: 10px;
    touch-action: manipulation;
}

#color-container {
    height: 240px;
    top: 0px;
}

#tool-container {
    height: 420px;
    top: 250px;
    margin-left: 10px;
}

.small-button {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.small-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #000;
}

#current-color {
    position: absolute;
    background-color: black;
    height: 25px;
    width: 55px;
    top: 40px;
    left: 10px;
    border-radius: 5px;
}

#color_b {
    background-color: #000000;
    top: 40px;
    left: 10px;
}

#color_w {
    background-color: #FFFFFF;
    top: 40px;
    left: 40px;
}

#color_1 {
    background-color: #666666;
    top: 70px;
    left: 10px;
}

#color_2 {
    background-color: #E74C3C;
    top: 100px;
    left: 10px;
}

#color_3 {
    background-color: #7D3C98;
    top: 130px;
    left: 10px;
}

#color_4 {
    background-color: #2E86C1;
    top: 160px;
    left: 10px;
}

#color_5 {
    background-color: #229954;
    top: 70px;
    left: 40px;
}

#color_6 {
    background-color: #F39C12;
    top: 100px;
    left: 40px;
}

#color_7 {
    background-color: #A6ACAF;
    top: 130px;
    left: 40px;
}

#color_8 {
    background-color: #5D6D7E;
    top: 160px;
    left: 40px;
}


#toolbar-location {
    margin-left: 5px;
}

#tools {
    margin: 10px;
}

.tool {
    font-size:24px; 
    color: gray; 
    text-shadow: 0px 0px 5px cornflowerblue;
}
