#pen_setting {
    width: 250px;
    height:50px;
    position: absolute;
    border-radius: 25px;
    top: 0px;
    left: 80px;
    visibility: hidden;
    background-color: rgb(145, 145, 145);
}

#brush_1_setting {
    width: 250px;
    height:50px;
    position: absolute;
    border-radius: 25px;
    top: 55px;
    left: 80px;
    visibility: hidden;
    background-color: rgb(145, 145, 145);
}

