#layer_group {
    width: 80px;
    height:300px;
    position: absolute;
    border-radius: 10px;
    top: 80px;
    left: 80px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.192);
}

.layer_icon {
    left: 5px;
    width: 70px;
    height: 35px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border-radius: 15px;
    background-color: lightgray;
    border-color: darkgrey;
}

#layer_setting {
    width: 120px;
    height:130px;
    position: absolute;
    border-radius: 10px;
    top: 80px;
    left: 165px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.192);
}
