#setting_menu {
    width: 250px;
    height:200px;
    position: absolute;
    border-radius: 20px;
    top: 0px;
    left: 80px;
    visibility: hidden;
    background-color: rgba(162, 162, 162, 0.592);
}

#save_to_png {
    margin-top: 15px;
    margin-left: 15px;
}
