html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.option-container {
    background-color: #ddd;
    width: 75px;
    position: absolute;
    border-radius: 5px;
    margin: 10px;
}

#color-container {
    height: 240px;
    top: 0px;
}

#tool-container {
    height: 200px;
    top: 250px;
    margin-left: 10px;
}

.small-button {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.small-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #000;
}

#current-color {
    position: absolute;
    background-color: black;
    height: 25px;
    width: 55px;
    top: 40px;
    left: 10px;
    border-radius: 5px;
}

#black {
    background-color: black;
    top: 70px;
    left: 10px;
}

#red {
    background-color: red;
    top: 100px;
    left: 10px;
}

#green {
    background-color: green;
    top: 130px;
    left: 10px;
}

#blue {
    background-color: blue;
    top: 160px;
    left: 10px;
}

#purple {
    background-color: purple;
    top: 70px;
    left: 40px;
}

#yellow {
    background-color: yellow;
    top: 100px;
    left: 40px;
}

#orange {
    background-color: orange;
    top: 130px;
    left: 40px;
}

#pink {
    background-color: pink;
    top: 160px;
    left: 40px;
}


#toolbar-location {
    margin-left: 5px;
}

#tools{
    margin: 10px;
}